<div class="white-background w-100 h-100 flex">
    <h1 class="p-l-10 flex-align-start">Charts</h1>
</div>

<div class="h-50">
    <!-- spacer -->
</div>

<!-- orders -->
<div class="radius white-background w-60 flex flex-space-evenly  flex-column center">
    <span class="flex align-items-center p-l-10 p-t-10">
        <mat-icon style="position:relative; top: -8px;">shopping_basket</mat-icon>
        <h2 class="flex-align-start">Orders chart</h2>

        <div class="flex m-r flex-align-center flex-buttons">
            <span>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker1">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker1></mat-date-range-picker>
                </mat-form-field>
            </span>
        </div>
    </span>
    <div class="mat-divider w-100">
        to do
        <!--divider-->
    </div>

    <div></div>

</div>

<div class="h-50">
    <!-- spacer -->
</div>

<!-- carriers -->
<div class="radius white-background w-60 flex flex-space-evenly flex-column center">
    <span class="flex align-items-center p-l-10 p-t-10">
        <mat-icon style="position:relative; top: -8px;">local_shipping</mat-icon>
        <h2 class="flex-align-start">Carriers chart</h2>
        <div class="flex m-r flex-align-center flex-buttons">
            <span>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker2">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker2></mat-date-range-picker>
                </mat-form-field>
            </span>
        </div>
    </span>
    <div class="mat-divider w-100">
        to do
        <!--divider-->
    </div>

    <div></div>
</div>

<div class="h-50">
    <!-- spacer -->
</div>

<!-- paymetType -->
<div class="radius white-background w-60 flex flex-space-evenly  flex-column center">
    <span class="flex align-items-center p-l-10 p-t-10">
        <mat-icon style="position:relative; top: -8px;">credit_card</mat-icon>
        <h2 class="flex-align-start">Payment chart</h2>
        <div class="flex m-r flex-align-center flex-buttons">
            <span>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker3">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker3></mat-date-range-picker>
                </mat-form-field>
            </span>
        </div>
    </span>
    <div class="mat-divider w-100">
        to do
        <!--divider-->
    </div>

    <div></div>
</div>

<div class="h-50">
    <!-- spacer -->
</div>

<!-- realized order -->
<div class="radius white-background w-60 flex flex-space-evenly  flex-column center">
    <span class="flex align-items-center p-l-10 p-t-10">
        <mat-icon style="position:relative; top: -8px;">library_add_check</mat-icon>
        <h2 class="flex-align-start">Realized orders chart</h2>
        <div class="flex m-r flex-align-center flex-buttons">
            <span>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker4">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker4></mat-date-range-picker>
                </mat-form-field>
            </span>
        </div>
    </span>
    <div class="mat-divider w-100">
        to do
        <!--divider-->
    </div>

    <div></div>
</div>

<div class="h-50">
    <!-- spacer -->
</div>

<!-- realized order -->
<div class="radius white-background w-60 flex flex-space-evenly  flex-column center">
    <span class="flex align-items-center p-l-10 p-t-10">
        <mat-icon style="position:relative; top: -8px;">accessibility_new</mat-icon>
        <h2 class="flex-align-start">New customers</h2>
        <div class="flex m-r flex-align-center flex-buttons">
            <span>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker5">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker5></mat-date-range-picker>
                </mat-form-field>
            </span>
        </div>
    </span>
    <div class="mat-divider w-100">
        to do
        <!--divider-->
    </div>

    <div></div>
</div>