.header {
    font-size: 28px;
    font-weight: 500;
    padding: 10px;
}

mat-icon {
    position: relative;
    top: 8px;
}

.filter-header {
    font-size: 20px;
    font-weight: bold;
}

.filter-title {
    font-weight: 500;
}

.search-button {
    width: 200px !important;
    padding: 2px;
}