<div class="h-50"></div>
<div style="width: 1100px;" class="center">
    <div class="flex flex-column">
        <!-- <span>Shopfly <mat-icon>chevron_right</mat-icon> Actual category</span> -->
        <span class="header">Results: {{resultsCount}}</span>
    </div>

    <div class="flex">
        <div class="filter-container mat-elevation-z8 p-10 white-background" style="width: 230px;">
            <span class="filter-header">Filters</span>
            <mat-divider></mat-divider>
            <div style="height: 5px;"></div>
            <div class="filter-title">Price</div>
            <div class="flex flex-center" style="justify-content: space-evenly;">
                <mat-form-field style="width: 100px">
                    <mat-label>Min</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field style="width: 100px">
                    <mat-label>Max</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <!-- <mat-divider></mat-divider> -->
            <div style="height: 5px;"></div>
            <!-- <div class="filter-title">Manufacturer</div> -->
            <!-- <div class="p-10">
                <mat-checkbox color="primary">Manufacturer 1</mat-checkbox>
                <mat-checkbox color="primary">Manufacturer 2</mat-checkbox>
            </div> -->

            <span class="filter-header">Sort</span>
            <mat-divider></mat-divider>
            <!-- <mat-checkbox color="primary">Show only product on sale</mat-checkbox> -->
            <div style="height: 15px;"></div>
            <!-- <div class="filter-title">Sort products</div> -->
            <mat-form-field class="p-10" style="width: 100%">
                <mat-label>Sort by</mat-label>
                <mat-select>
                    <mat-option value="option1">Price lowest</mat-option>
                    <mat-option value="option6">Price highest</mat-option>
                    <mat-option value="option5">Marks lowest</mat-option>
                    <mat-option value="option4">Marks highest</mat-option>
                    <mat-option value="option4">A - Z</mat-option>
                    <mat-option value="option4">Z - A</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div class="flex flex-center" style="justify-content: center;">
                <button mat-raised-button color="primary" class="search-button">
                    Search
                </button>
            </div>
            <div style="height: 25px;"></div>

        </div>
        <div style="width: 25px"></div>
        <div class="products-container mat-elevation-z8">
            <div *ngFor="let product of productsList; let i = index">
                <div *ngIf="i % 3 === 0" class="products-row p-25">
                    <!--  -->
                    <p-card styleClass="product">
                        <ng-template pTemplate="header">
                            <div (click)="onProductClick(productsList[i].id)">
                                <img alt="Card" class="product-image" [src]="productsUrl[productsList[i].id]">
                                <span class="product-name flex p-10">
                                    {{productsList[i].name}}
                                </span>
                                <span class="product-name flex p-10">
                                    <p-rating [cancel]="false" [readonly]="true"
                                        [(ngModel)]="avarageRates[productsList[i].id]">
                                    </p-rating>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="flex flex-center" style="justify-content: center;">
                                <b class="product-price">{{productsList[i].bruttoPrice}}$</b>
                                <button mat-icon-button class="add-button">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button class="fav-button">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </p-card>
                    <!--  -->
                    <p-card styleClass="product" *ngIf="i + 1 < productsList.length">
                        <ng-template pTemplate="header">
                            <div (click)="onProductClick(productsList[i].id)">
                                <img alt=" Card" class="product-image" [src]="productsUrl[productsList[i+1].id]">
                                <span class="product-name flex p-10">{{productsList[i+1].name}}</span>
                                <span class="product-name flex p-10">
                                    <p-rating [cancel]="false" [readonly]="true"
                                        [(ngModel)]="avarageRates[productsList[i + 1].id]">
                                    </p-rating>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="flex flex-center" style="justify-content: center;">
                                <b class="product-price">{{productsList[i+1].bruttoPrice}}$</b>
                                <button mat-icon-button class="add-button">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button class="fav-button">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </p-card>
                    <!--  -->
                    <p-card styleClass="product" *ngIf="i + 2 < productsList.length">
                        <ng-template pTemplate="header">
                            <div (click)="onProductClick(productsList[i].id)">
                                <img alt="Card" class="product-image" [src]="productsUrl[productsList[i+2].id]">
                                <span class="product-name flex p-10">
                                    {{productsList[i+2].name}}
                                </span>
                                <span class="product-name flex p-10">
                                    <p-rating [cancel]="false" [readonly]="true"
                                        [(ngModel)]="avarageRates[productsList[i + 2].id]">
                                    </p-rating>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="flex flex-center" style="justify-content: center;">
                                <b class="product-price">{{productsList[i+2].bruttoPrice}}$</b>
                                <button mat-icon-button class="add-button">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button class="fav-button">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </div>
            <div *ngIf="isLoaded" class="paginator">
                <app-paginator [pages]="maxPages" [actualPage]="actualPage">
                </app-paginator>
            </div>
        </div>
    </div>
</div>

<div class="h-50"></div>