<div class="white-background w-100 h-100 flex">
    <h1 class="p-l-10 flex-align-start">{{'Orders'}}</h1>
</div>
<div class="h-50">
    <!--spacer -->
</div>

<div *ngIf="isLoaded" class="radius white-background w-95 h-100 center flex flex-space-evenly">
    <div class="flex-column flex-align-center">
        <span class="flex-align-center" style="margin-right: 10px">
            <mat-icon class="i-36" style="color: #38924d">shopping_cart</mat-icon>
        </span>
        <span class="flex-align-center">New orders today</span>
        <span class="flex-align-center">{{viewDto.newOrdersToday}}</span>
    </div>

    <div class="flex-column flex-align-center">
        <span class="flex-align-center" style="margin-right: 10px">
            <mat-icon class="i-36" style="color:rgb(13, 65, 65)">checklist</mat-icon>
        </span>
        <span class="flex-align-center">Active orders</span>
        <span class="flex-align-center">{{viewDto.activeOrders}}</span>
    </div>

    <div class="flex-column flex-align-center">
        <span class="flex-align-center" style="margin-right: 10px">
            <mat-icon class="i-36" style="color: #d4853a">paid</mat-icon>
        </span>
        <span class="flex-align-center">Orders total value</span>
        <span class="flex-align-center">{{viewDto.ordersTotalValue}}$</span>
    </div>

    <div class="flex-column flex-align-center">
        <span class="flex-align-center" style="margin-right: 10px">
            <mat-icon class="i-36" style="color: #ce7d78">request_quote</mat-icon>
        </span>
        <span class="flex-align-center">Average order value</span>
        <span class="flex-align-center">{{viewDto.averageOrderValue}}$</span>
    </div>
</div>

<div class="h-50">
    <!--spacer -->
</div>

<div class="radius white-background center w-95 flex flex-space-evenly p-25 flex-column">
    <shared-data-table *ngIf="isLoaded" [dataSource]="ordersList" [displayedColumns]="displayedColumns"
        [columnsNames]="columnsNames" [buttons]="tableButtons" (editEvent)="editStatus($event)"
        (detailsEvent)="onDetailsClick($event)">
    </shared-data-table>
</div>