<div>
    <div class="flex flex-column">
        <div class="flex flex-center" style="align-items: center; width: 600px; ">
            <span class="cart-header">Cart ({{customerCart.length}})</span>

            <span class="flex flex-center clear-button" style="align-items: center;">
                <button mat-button>
                    <mat-icon>delete</mat-icon>Clear cart
                </button>
            </span>
        </div>

        <div class="flex flex-center" style="width: 1100px">
            <!-- products list -->
            <div class="mat-elevation-z8 flex-column radius white-background" style="width: 600px">
                <div *ngFor="let cartPosition of customerCart" class="flex p-10 flex-center"
                    style="align-items: center;">
                    <span>
                        <img class="product-miniature"
                            src="{{cartPosition.product!.productsVariants![0].productsVariantsPhotos![0].photo!.path}}">
                    </span>
                    <span class="product-name p-10" style="width: 280px; ">
                        <a href="#">{{cartPosition.product!.name}}</a>
                    </span>

                    <span>{{cartPosition.product!.bruttoPrice | number:'1.2-2'}}$</span>
                    <div style="width: 20px;"></div>
                    <mat-form-field style="width: 50px;">
                        <input matInput maxlength="5">
                    </mat-form-field>

                    <span style="margin-left: auto;">
                        <button mat-icon-button>
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <!-- spacer -->
            <div style=" width: 100px">
            </div>
            <!-- summary -->
            <div class="mat-elevation-z8 radius flex-column p-10 white-background"
                style="width: 400px; margin-left: auto; max-height: 300px !important">
                <span class="bolded" style="font-size: 22px">Summary</span>
                <hr>
                <span class="flex">
                    <p class="bolded">Total cart value</p>
                    <p style="margin-left: auto;">{{getTotalBruttoValue() | number:'1.2-2'}}$</p>
                </span>
                <span class="flex">
                    <p class="bolded">Total netto value</p>
                    <p style="margin-left: auto;">{{getTotalNettoValue() | number:'1.2-2'}}$</p>
                </span>
                <mat-divider></mat-divider>
                <span class="center" style="margin-top: px">
                    <button mat-raised-button color="primary" style="width: 200px !important; padding: 2px;"
                        matStepperNext>
                        Go to payment<mat-icon>chevron_right</mat-icon>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>