<table mat-table [dataSource]="dataSource" class="center w-95 mat-elevation-z8" *ngIf="isLoaded">
    <ng-container *ngFor="let displayedColumn of displayedColumns" [matColumnDef]='displayedColumn.objectField!'>
        <th mat-header-cell *matHeaderCellDef>
            <h4>
                {{displayedColumn.title}}
            </h4>
        </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!displayedColumn.contentMode">
                {{element[displayedColumn.objectField!]}}
            </span>

            <span *ngIf="displayedColumn.contentMode === contentMode.Default">
                {{element[displayedColumn.objectField!]}}
            </span>

            <span *ngIf="displayedColumn.contentMode === contentMode.DynamicPipe">
                {{element[displayedColumn.objectField!]
                | dynamicPipe:displayedColumn.pipeValues!.pipe:displayedColumn.pipeValues!.pipeArgs}}
            </span>

            <span *ngIf="displayedColumn.contentMode === contentMode.Buttons">
                <!-- <button mat-button mat-icon-button>
                    <mat-icon mat-icon style="color: rgb(133, 77, 14)">description</mat-icon>
                </button> -->
                <button *ngIf="buttons.indexOf(tableButton.Delete) != -1" class="mat-icon-button" mat-icon-button
                    (click)="onDeleteClick({})">
                    <mat-icon mat-icon class="mat-icon" style="color: red">delete</mat-icon>
                </button>
                <button *ngIf="buttons.indexOf(tableButton.Details) != -1" mat-stroked-button
                    (click)="onDetailsClick({})">Details
                </button>
            </span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;"></tr>
</table>