table {
    * {
        text-align: center;
    }

    .mat-column-buttons {
        width: 100px;
    }

    .mat-column-photo {
        width: 80px;
    }

    .mat-column-name {
        width: 250px;
    }
}