table {
    * {
        text-align: center;
    }

    .mat-column-buttons {
        width: 100px;
    }

    .mat-column-photo {
        width: 80px;
    }

    .mat-column-name {
        width: 250px;
    }
}

.list-element {
    font-size: 18px !important;
    width: 300px;
}

.mat-list-item {
    height: 80px !important;
}

.list-item {
    text-align: right;
    font-weight: 500;
    width: 400px;
}

.second-row-element {
    text-align: left !important;
    padding-left: 20px;
}

.custom-label {
    position: absolute;
    padding: 50px;
}