<div class="white-background w-100 ">
    <div class="flex">
        <h1 class="p-l-10 flex-align-start">Products</h1>

        <div class="flex-column m-r flex-align-center">
        </div>
        <div class="flex m-r flex-align-center flex-buttons">
            <div *ngIf="tab == 'products'" class="flex-column">
                <span class="flex-align-center pointer hover-opacity" style="margin-right: 10px"
                    (click)="switchAddMode()">
                    <mat-icon class="i-36 color-blue" *ngIf="!isAddMode">add_circle</mat-icon>
                    <mat-icon class="i-36 color-blue" *ngIf="isAddMode">arrow_back</mat-icon>
                </span>
                <span class="flex-align-center f-16" *ngIf="!isAddMode">Add new product</span>
                <span class="flex-align-center f-16" *ngIf="isAddMode">Return to list</span>
            </div>

            <div *ngIf="tab == 'categories'" class="flex-column" (click)="onAddCategoryClick()">
                <span class="flex-align-center pointer hover-opacity" style="margin-right: 10px">
                    <mat-icon class="i-36 color-blue">add_circle</mat-icon>
                </span>
                <span class="flex-align-center f-16">Add new categories</span>
            </div>

            <div *ngIf="tab == 'carriers'" class="flex-column" (click)="onAddCarriersClick()">
                <span class="flex-align-center pointer hover-opacity" style="margin-right: 10px">
                    <mat-icon class="i-36 color-blue">add_circle</mat-icon>
                </span>
                <span class="flex-align-center f-16">Add new carrier</span>
            </div>

            <div *ngIf="tab == 'lists'" class="flex-column" (click)="onAddListClick()">
                <span class="flex-align-center pointer hover-opacity" style="margin-right: 10px">
                    <mat-icon class="i-36 color-blue">add_circle</mat-icon>
                </span>
                <span class="flex-align-center f-16">Add new list</span>
            </div>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="onTabChange('products')" class="custom-label">Products</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="onTabChange('categories')" class="custom-label">Categories</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="onTabChange('carriers')" class="custom-label">Carriers</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="onTabChange('lists')" class="custom-label">Shop home lists</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="h-50">
    <!--spacer-->
</div>

<div *ngIf="tab == 'categories'">
    <app-categories></app-categories>
</div>

<div *ngIf="tab == 'carriers'">
    <app-carriers></app-carriers>
</div>

<div *ngIf="tab == 'lists'">
    <app-lists></app-lists>
</div>

<div *ngIf="tab == 'products' && isLoaded" class="radius white-background w-95 center flex-column flex-space-evenly"
    [ngStyle]="!isAddMode ? {'width':'95%'} : {'width': '40%'}">
    <!-- products table -->
    <div class="w-100">
        <shared-data-table *ngIf="isLoaded && !isAddMode" [dataSource]="productsList"
            [displayedColumns]="displayedColumns" [columnsNames]="columnsNames" [buttons]="tableButtons"
            [menuButtons]="menuButtons">
        </shared-data-table>
        <!-- add form -->
        <div *ngIf="isLoaded && isAddMode" class="flex flex-column">
            <!-- name -->
            <div class="list-item">
                <span class="list-element">Product name:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newProduct.name">
                    </mat-form-field>
                </span>
            </div>
            <!-- category -->
            <div class="list-item">
                <span class="list-element">Category:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <mat-select [(ngModel)]="newProduct.categoryId">
                            <mat-option *ngFor="let category of categoriesList" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>

            <!-- stock -->
            <div class="list-item">
                <span class="list-element">Stock:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newProduct.stock">
                    </mat-form-field>
                </span>
            </div>

            <!-- netto price -->
            <div class="list-item">
                <span class="list-element">Netto price:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newProduct.nettoPrice">
                    </mat-form-field>
                </span>
            </div>

            <!-- brutto price -->
            <div class="list-item">
                <span class="list-element">Brutto price:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newProduct.bruttoPrice">
                    </mat-form-field>
                </span>
            </div>

            <!-- description -->
            <div class="list-item">
                <span class="list-element">Description: </span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-form-field>
                        <textarea matInput [(ngModel)]="newProduct.description"></textarea>
                    </mat-form-field>
                </span>
            </div>

            <!-- is visible -->
            <div class="list-item" style="width: 210px !important">
                <span class="list-element">Is visible:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <mat-checkbox [(ngModel)]="newProduct.isVisible"></mat-checkbox>
                </span>
            </div>

            <div class="h-50"></div>

            <!-- photo  -->
            <div class="list-item" style="width: 300px !important">
                <span class="list-element">Cover photo:</span>
                <span class="p-l-10 p-r-10"></span>
                <span class="list-element second-row-element">
                    <button mat-flat-button color="primary" class="browse-button" (click)="photo.click()">
                        Browse
                    </button>
                </span>
            </div>

            <span class="flex p-25 center" style="justify-content: center;">
                <button mat-raised-button color="primary" (click)="onAddClick()">
                    Add
                </button>
            </span>
        </div>
    </div>
</div>

<input type="file" accept="image/*" #photo style="display: none;" (change)="onPhotoUpload($event)">