<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" class="comments">
    <div class="container">
        <div class="row">
            <div>
                <div class="flex flex-column" *ngIf="isLogged">
                    <h3 class="pull-left">New Comment</h3>
                    <div class="row">
                        <textarea class="form-control" class="message" placeholder="Your message"
                            [(ngModel)]="newComment.content">
                    </textarea>
                    </div>
                </div>
                <button mat-flat-button color="primary" type="submit" class="btn btn-normal" *ngIf="isLogged"
                    (click)="onCommentSubmit()" style="margin-right: 10px;">
                    Submit
                </button>
                <div class="h-50"></div>
                <h3>{{ commentsList.length }} Comments</h3>

                <div class="comment">
                    <div class="comment-body" style="padding: 10px 0 10px 0;" *ngFor="let comment of commentsList">
                        <div class="flex" style="gap: 10px;">
                            <h4 class="comment-heading">{{comment.customer!.name + ' ' + comment.customer!.surname}}
                            </h4>
                            <p-rating *ngIf="getUserRating(comment.customerId) !== -1"
                                [(ngModel)]="ratings[getUserRating(comment.customerId)].rate" [cancel]="false"
                                [readonly]="true">
                            </p-rating>
                        </div>
                        <p>{{comment.content}}</p>
                        <ul class="list-unstyled list-inline comment-detail pull-left">
                            <li>
                                <i class="fa fa-calendar"></i>{{comment.createDate | date:'dd/MM/yyyy HH:mm'}}
                            </li>
                        </ul>
                        <br />
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>