<div style="height:50px;"></div>
<main class="container mat-elevation-z8 p-25 white-background" *ngIf="isLoaded">
    <div class="left-column">
        <img data-image="red" class="active" [src]="imgUrl" alt="">
    </div>

    <!-- Right Column -->
    <div class="right-column">
        <div class="product-description">
            <span> {{product.category!.name!}}</span>
            <button mat-icon-button class="fav-button" (click)="onAddToFavoritesClick(product.id)">
                <mat-icon>favorite</mat-icon>
            </button>
            <h1>{{product.name}}</h1>
            <p>
                {{product.description}}
            </p>
        </div>

        <div class="product-price">
            <span>{{product.bruttoPrice}}$</span>
            <button mat-button class="cart-btn" (click)="onAddToCartClick(product.id)">Add to cart</button>
        </div>
    </div>
</main>
<div style="height: 200px;"></div>
<div style="width: 1000px; margin: auto;">
    <app-comments></app-comments>
</div>
<div class="h-100"></div>