// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Frontend-primary: mat.define-palette(mat.$indigo-palette);
$Frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Frontend-theme: mat.define-light-theme((color: (primary: $Frontend-primary,
      accent: $Frontend-accent,
      warn: $Frontend-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Frontend-theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(241, 242, 246);
}

.flex {
  display: flex;
}

.flex-space-evenly {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-self: center;
}

.flex-align-start {
  align-self: flex-start;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.center {
  margin: auto;
}

.radius {
  border-radius: 10px;
}

.mat-header-cell {
  font-size: 16px !important;
}

// tools

.p-10 {
  padding: 10px;
}

.p-25 {
  padding: 25px;
}


.p-l-10 {
  padding-left: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 75%;
}

.w-75 {
  width: 75%;
}

.w-95 {
  width: 95%;
}

.h-50 {
  height: 50px;
}

.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.t-50 {
  top: 50px;
}

.white-background {
  background-color: white;
}

.color-blue {
  color: rgb(82, 126, 141)
}

.i-24 {
  font-size: 24px;
}

.i-28 {
  font-size: 28px;
}

.i-32 {
  font-size: 32px;
}

.i-36 {
  font-size: 36px;
}

.m-r {
  margin-left: auto;
  padding-right: 25px;
}