<div class="topnav">
  <div class="navbar-content center flex flex-center">
    <mat-icon class="icon button-icon i-36" *ngIf="displayNavbarContent" (click)="onMenuClick()">
      menu
    </mat-icon>
    <!-- logo -->
    <div class="logo flex flex-center" [routerLink]="['']">
      <mat-icon class="shop-icon">
        storefront
      </mat-icon>
      <span class="logo-part">Shop</span>fly
    </div>

    <div class="search" *ngIf="displayNavbarContent">
      <input class="search-input" placeholder="Search...">
      <button mat-flat-button class="search-button">
        <mat-icon style="color: #fff">search</mat-icon>
      </button>
    </div>
    <!-- menu -->
    <div class="menu flex" style="gap: 60px" *ngIf="displayNavbarContent">
      <mat-icon class="icon button-icon i-36" [matMenuTriggerFor]="notLoggedUserMenu" *ngIf="!isLogged">
        account_circle
      </mat-icon>

      <mat-icon class="icon button-icon i-36" [matMenuTriggerFor]="loggedUserMenu" *ngIf="isLogged">
        account_circle
      </mat-icon>

      <mat-icon class="icon button-icon  i-36" [matTooltip]="'Favourite products'" matTooltipClass="f-18">
        favorite_border
      </mat-icon>

      <mat-icon class="icon button-icon i-36" [matTooltip]="'Cart'" matTooltipClass="f-18" [routerLink]="['cart']">
        shopping_cart
      </mat-icon>
    </div>
  </div>
</div>

<mat-menu #notLoggedUserMenu="matMenu" yPosition="below">
  <div style="width: 270px;">
    <h3 class="text-center">Welcome in Shopfly</h3>
    <p class="note">Please sign in to have fully access to shop functions</p>
    <hr>
    <div class="sign-in-button-wrapper">
      <button mat-flat-button class="sign-in-button" [routerLink]="['sign-in']">Sign in</button>
    </div>

    <div class="flex" style="gap: 5px;">
      <p>No account yet?</p> <a href="sign-up">Sign up</a>
    </div>
  </div>
</mat-menu>

<mat-menu #loggedUserMenu="matMenu" yPosition="below">
  <div style="width: 270px;">
    <h3 class="text-center">Hi to do</h3>
    <hr>

    <div class="sign-in-button-wrapper">
      <button mat-flat-button class="sign-in-button">Settings</button>
    </div>
    <div style="height: 10px;"></div>
    <div class="sign-in-button-wrapper">
      <button mat-flat-button class="sign-in-button" (click)="onLogoutClick()">Logout</button>
    </div>
  </div>
</mat-menu>