<div class="topnav">
  <div class="navbar-content center flex flex-center">
    <!-- logo -->
    <div class="logo flex flex-center">
      <mat-icon class="shop-icon">
        storefront
      </mat-icon>
      <span class="logo-part">Shop</span>fly
    </div>

    <div class="search">
      <input class="search-input" placeholder="Search...">
      <button mat-flat-button class="search-button">
        <mat-icon style="color: #fff">search</mat-icon>
      </button>
    </div>
    <!-- menu -->
    <div class="flex">
      <div class="menu">
        user
        <!-- <mat-icon class="user-icon" [matMenuTriggerFor]="userMenu">
          account_circle
        </mat-icon> -->
      </div>
    </div>
  </div>
</div>

<!-- <mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>manage_accounts</mat-icon>
    <span>settings</span>
  </button>

  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu> -->