<div class="topnav">
  <div class="navbar-content center flex flex-center">
    <mat-icon class="icon button-icon i-36">
      menu
    </mat-icon>
    <!-- logo -->
    <div class="logo flex flex-center">
      <mat-icon class="shop-icon">
        storefront
      </mat-icon>
      <span class="logo-part">Shop</span>fly
    </div>

    <div class="search">
      <input class="search-input" placeholder="Search...">
      <button mat-flat-button class="search-button">
        <mat-icon style="color: #fff">search</mat-icon>
      </button>
    </div>
    <!-- menu -->
    <div class="menu flex" style="gap: 60px">
      <mat-icon class="icon button-icon i-36" [matMenuTriggerFor]="userMenu">
        account_circle
      </mat-icon>

      <mat-icon class="icon button-icon  i-36" [matTooltip]="'Favourite products'" matTooltipClass="f-18">
        favorite_border
      </mat-icon>

      <mat-icon class="icon button-icon i-36" [matTooltip]="'Cart'" matTooltipClass="f-18">
        shopping_cart
      </mat-icon>
    </div>
  </div>
</div>

<mat-menu #userMenu="matMenu">
  <div>yo menik </div>
  <hr>
  <div>yomenik2</div>
  <!-- <mat-icon>manage_accounts</mat-icon>
    <span>settings</span>
  </button>

  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button> -->
</mat-menu>