.topnav {
    background-color: #14274f;
    overflow: hidden;
    height: 70px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-content {
    width: 1400px;
    height: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-icon {
    transform: scale(2);
}

.logo {
    width: 200px;
    color: #e9006b;
    height: 100%;
    font-size: 36px;
    font-family: sans-serif;
    padding-left: 20px;
}

.logo-part {
    color: whitesmoke;
    margin-left: 15px;
}

.menu {
    margin-left: auto;
    text-align: right;
    height: 100%;
}

.user-icon {
    transform: scale(1.8);
    color: whitesmoke;
    cursor: pointer;
}

.search {
    margin-right: auto;
    padding-left: 50px;
    width: 40%;
}

.search-input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.search-button,
.sign-in-button {
    background-color: rgb(255, 115, 0);
    position: relative;
    top: -1px;
    right: 6px;
}

.search-input:focus {
    outline: none;
}

.button-icon {
    color: white;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.note {
    opacity: 0.8;
    font-size: 12px;
    text-align: center
}

.sign-in-button-wrapper {
    width: 270px;
}

.sign-in-button {
    margin: auto;
    padding: 5px;
    width: 250px;
    font-size: 18px;
    color: white;
    margin-left: 15px;
}