.header {
    font-size: 28px;
    font-weight: 500;
    padding: 20px;
}

.product-miniature {
    width: 75px;
    height: 75px;
}

.overview-container {
    width: 400px;
    margin-left: auto;
    max-height: 500px !important
}

.bolded {
    font-weight: bold;
}

.next-button {
    width: 200px !important;
    padding: 2px;
}